body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 20px; */
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

#links {
  width: 400px;
  text-align: left;
  font-size: x-large;
  color: white;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin: 10px 0px;
  /* border: white 1px solid; */
  border-radius: 5px;
  padding: 10px;
}

a:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

#header,
#footer {
  position: sticky;
  height: 3rem;
  max-height: 3rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: #0f1116;
}

#header {
  top: 0;
  border-bottom: solid gray 1px;
}

#footer {
  bottom: 0;
  border-top: solid gray 1px;
}

main {
  padding: 2rem;
  height: calc(100vh - calc(5rem * 2));
  overflow-y: scroll;
}
